/* /scss/summit.scss */
/* /scss/_base.scss */
.gradient, .section-blue, div.cover {
  background: #3498db;
  background: -webkit-linear-gradient(#2ba3d4, #3498db);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#2ba3d4, #3498db);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#2ba3d4, #3498db);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#2ba3d4, #3498db);
  /* Standard syntax */ }

* {
  margin: 0; }

body {
  font-family: "Open Sans";
  background-color: #efefef; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Open Sans";
    font-weight: 300; }

.section-white {
  background-color: #efefef; }

.section-blue {
  color: #efefef; }
  .section-blue h1 {
    color: #efefef; }

.section-wrapper {
  max-width: 1260px;
  margin: 0 auto;
  padding: 30px; }

/* /scss/_fonts.scss */
/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans/open-sans-v13-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light"), local("OpenSans-Light"), url("../fonts/open-sans/open-sans-v13-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-300.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-300.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-300.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-300.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url("../fonts/open-sans/open-sans-v13-latin-300italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("../fonts/open-sans/open-sans-v13-latin-300italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-300italic.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-300italic.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-300italic.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-300italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v13-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans"), local("OpenSans"), url("../fonts/open-sans/open-sans-v13-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-regular.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-regular.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-regular.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-regular.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/open-sans/open-sans-v13-latin-italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../fonts/open-sans/open-sans-v13-latin-italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-italic.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-italic.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-italic.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/open-sans/open-sans-v13-latin-600.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../fonts/open-sans/open-sans-v13-latin-600.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-600.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-600.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-600.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-600.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-600italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: url("../fonts/open-sans/open-sans-v13-latin-600italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("../fonts/open-sans/open-sans-v13-latin-600italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-600italic.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-600italic.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-600italic.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-600italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/open-sans/open-sans-v13-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/open-sans/open-sans-v13-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-700.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-700.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-700.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-700.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/open-sans/open-sans-v13-latin-700italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("../fonts/open-sans/open-sans-v13-latin-700italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-700italic.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-700italic.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-700italic.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-700italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/open-sans/open-sans-v13-latin-800.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("../fonts/open-sans/open-sans-v13-latin-800.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-800.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-800.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-800.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-800.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* open-sans-800italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  src: url("../fonts/open-sans/open-sans-v13-latin-800italic.eot");
  /* IE9 Compat Modes */
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("../fonts/open-sans/open-sans-v13-latin-800italic.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans/open-sans-v13-latin-800italic.woff2") format("woff2"), url("../fonts/open-sans/open-sans-v13-latin-800italic.woff") format("woff"), url("../fonts/open-sans/open-sans-v13-latin-800italic.ttf") format("truetype"), url("../fonts/open-sans/open-sans-v13-latin-800italic.svg#OpenSans") format("svg");
  /* Legacy iOS */ }
/* /scss/_mainpage.scss */
div.cover {
  width: 100%;
  height: 100vh;
  text-align: center; }
  div.cover h1 {
    text-align: center;
    padding-top: 40vh;
    font-size: 56px;
    font-weight: 600;
    color: #efefef;
    text-shadow: 4px 3px 3px #2387ca; }
  div.cover p {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    color: #efefef; }
  div.cover a {
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 30px; }

.about-section a:link, .about-section a:visited {
  text-decoration: none;
  color: #252525;
  font-weight: 600; }
.about-section a:hover {
  text-decoration: none;
  color: #191919; }
.about-section .demo-picture {
  text-align: center; }
  .about-section .demo-picture img {
    height: 500px; }

.demo-picture-2 {
  text-align: center; }
  .demo-picture-2 img {
    height: 400px; }

/* /scss/_navbar.scss */
.navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  transition: 0.3; }
  .navbar .navbar-links {
    float: right; }
    .navbar .navbar-links a:link, .navbar .navbar-links a:visited {
      text-decoration: none;
      display: block;
      float: right;
      padding: 7px;
      font-weight: 300;
      transition: 0.3s;
      border-radius: 5px;
      margin-left: 10px; }
    .navbar .navbar-links a:hover {
      text-decoration: none;
      color: white;
      transition: 0.3s; }
    .navbar .navbar-links a.right-most-button {
      margin-right: 25px; }
  .navbar .navbar-wrapper {
    max-width: 1260px;
    margin: 0 auto; }
  .navbar .logo {
    float: left;
    display: none;
    transition: 0.3s; }
    .navbar .logo a:link, .navbar .logo a:visited, .navbar .logo a:hover {
      float: left;
      text-decoration: none;
      color: white;
      font-weight: 700;
      line-height: 34px; }

.navbar-fixed {
  background-color: black;
  -webkit-box-shadow: 0px 10px 29px -6px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 10px 29px -6px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 10px 29px -6px rgba(0, 0, 0, 0.45);
  transition: 0.3s; }
  .navbar-fixed .navbar-links a:link, .navbar-fixed .navbar-links a:visited {
    color: #afafaf; }
  .navbar-fixed .navbar-links a:hover {
    background-color: rgba(255, 255, 255, 0.1); }
  .navbar-fixed .logo {
    display: block;
    transition: 0.3s; }

.navbar-scroll {
  background-color: transparent;
  transition: 0.3s; }
  .navbar-scroll .navbar-links a:link, .navbar-scroll .navbar-links a:visited {
    color: #efefef; }
  .navbar-scroll .navbar-links a:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .navbar-scroll .logo {
    display: none;
    transition: 0.3s; }

/* /scss/_footer.scss */
.footer {
  background-color: #252525;
  color: #efefef; }
  .footer h2 {
    color: #afafaf; }
  .footer a:link, .footer a:visited {
    text-decoration: none;
    color: #afafaf; }
  .footer a:hover {
    text-decoration: none;
    color: white; }
  .footer i {
    margin-right: 5px; }
  .footer ul li {
    margin-bottom: 10px; }
    .footer ul li p {
      margin: 0;
      font-weight: 600; }
  .footer .footer-wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px; }
  .footer .copyright {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #191919; }
