/* /scss/_base.scss */

// Variable Declarations
	// Font
		$my-font: 'Open Sans';
	
	// Colours
		$flat-ui-blue: #3498db;
		$blue-shaddow: #2387ca;
		$background-color: #efefef;

// Body Style
	* {
		margin: 0;
	}
	body {
		font-family:  $my-font;
		background-color: $background-color;
	}