/* /scss/_base.scss */

// Variable Declarations
	// Font
		$my-font: 'Open Sans';
	
	// Colours
		$flat-ui-blue-1: #3498db;
		$flat-ui-blue: #2ba3d4;
		$blue-shaddow: #2387ca;
		$dark-blue: #1a237e;
		$darker-grey: #191919;
		$dark-grey: #252525;
		$light-grey: #afafaf;
		$background-color: #efefef;
		$light-colour: #dfdfdf;
		
	// Sizes
		$max-width: 1260px;

	// Gradient
	.gradient {
		background: $flat-ui-blue-1;
		background: -webkit-linear-gradient($flat-ui-blue, $flat-ui-blue-1); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($flat-ui-blue, $flat-ui-blue-1); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($flat-ui-blue, $flat-ui-blue-1); /* For Firefox 3.6 to 15 */
		background: linear-gradient($flat-ui-blue, $flat-ui-blue-1); /* Standard syntax */
	}

	.gradient-light {
		background: $background-color;
		background: -webkit-linear-gradient($background-color, $light-colour); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($background-color, $light-colour); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($background-color, $light-colour); /* For Firefox 3.6 to 15 */
		background: linear-gradient($background-color, $light-colour); /* Standard syntax */
	}

// Body Style
	* {
		margin: 0;
	}
	body {
		font-family:  $my-font;
		background-color: $background-color;
		h1, h2, h3, h4, h5, h6 {
			font-family: $my-font;
			font-weight: 300;
		}
	}

// Sections
	.section-white {
		//background-color: $background-color;
		@extend .gradient-light;
	}
	.section-blue {
	 	@extend .gradient;
		 color: $background-color;
		 h1 {
			 color: $background-color;
		 }
		 h2 {
			 color: $background-color;
		 }
	}
	.section-wrapper {
		max-width: $max-width;
		margin: 0 auto;
		padding: 30px;
	}