/* /scss/_navbar.scss */

// Navigation bar
	.navbar {
    position: fixed;
    top: 0;
    left: 0;
		width: 100%;
		padding: 10px;
    transition: 0.3;
		.navbar-links {
			float: right;
			a:link, a:visited {
				text-decoration: none;
				display: block;
				float: right;
				padding: 7px;
				font-weight: 300;
				transition: 0.3s;
				border-radius: 5px;
				margin-left: 10px;
			}
			a:hover {
				text-decoration: none;
				color: white;
				transition: 0.3s;
			}
			a.right-most-button {
				margin-right: 25px;
			}
		}
		.navbar-wrapper {
			max-width: $max-width;
			margin: 0 auto;
		}
		.logo {
			float: left;
			display: none;
			transition: 0.3s;
			a:link, a:visited, a:hover {
				float: left;
				text-decoration: none;
				color: white;
				font-weight: 700;
				line-height: 34px;
			}
		}
	}

// For change
	.navbar-fixed {
		background-color: black;
		-webkit-box-shadow: 0px 10px 29px -6px rgba(0,0,0,0.45);
		-moz-box-shadow: 0px 10px 29px -6px rgba(0,0,0,0.45);
		box-shadow: 0px 10px 29px -6px rgba(0,0,0,0.45);
    transition: 0.3s;
		.navbar-links {
			a:link, a:visited {
				color: $light-grey;
			}
			a:hover {
				background-color: rgba(255, 255, 255, 0.1);
			}
		}
		.logo {
			display: block;
			transition: 0.3s;
		}
	}
  .navbar-scroll {
    background-color: transparent;
    transition: 0.3s;
		.navbar-links {
			a:link, a:visited {
				color: $background-color;
			}
			a:hover {
				background-color: rgba(0, 0, 0, 0.1);
			}
		}
		.logo {
			display: none;
			transition: 0.3s;
		}
  }