/*NAVIGATION*/

/*SUMMIT logo :navigation*/
a.logo {
	position: relative;
	left: 20%;
	z-index: 10;
}

img.logo{
	width: 60%;
}

/*navigation bar*/
nav{
	color: #3a8f95;
	position: relative;
	background-color: white;
	margin-top: 50px;
	margin-bottom: 50px;
}

/*group items :navigation*/
nav ul {
	list-style: none;
	position: relative;
	margin-top: -50px;
	text-align: center;
	z-index: 5;
}
/*END NAVIGATION*/


/*BANNERS*/
.large-banner{display: none;}
.medium-banner{display: none;}
.small-banner{width: 100%;}
/*END BANNERS*/